@media (max-width: 992px) {

/* home start */
  #blob{
    top: 20%;
  }

  #blob path:nth-child(2){
    display: none;
  }

  #blob path:nth-child(3){
    display: block;
  }
/* home end */


/* safety start */
  #safety p{
    padding: 0px;
  }
/* safety end */



/* about start */
  #about .text-container h2{
    padding-right: 50px;
  }

  #about .text-container p{
    padding-left: 10px;
  }

  #about .button{
    margin: 0;
    margin-top: 30px;
  }

  canvas#padlock{
    transform: translate(-4%, -4%);
  }
/* about end */


/* tech start */
  #tech .text-container img{
    width: 100%;
    padding: 0 75px;
    margin-top: 40px;
  }
  /* tech end */



/* team start */
  #team .col-5 {
    margin: 80px 0px 0 0px;
  }
/* team end */




/* delivered start */
  #delivered{
    padding: 0 30px;
    margin-top: 200px;
  }

  #delivered .white-box{
    margin: 0;
    box-shadow: 5px 5px 10px var(--blue-three);
  }

  #delivered .white-box img.check{
    opacity: 1;
  }

  #delivered .swiper-container{
    height: 350px;
    overflow: hidden;
  }
/* delivered end */
}
