:root{
  --blue-one: #0023FF;
  --blue-two: #2F63AF;
  --blue-three: #706C9A;
  --green-one: #A4E1C6;
}

body, html{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 15px;
  scroll-behavior: smooth;
  cursor: none;
}


/* fonts start */
a, a:hover{
  text-decoration: none;
  transition: .2s;
}

a:hover{
  color: var(--blue-two);
}

p{
  margin: 0;
  font-weight: 600;
  font-size: 1.5rem;
}

h1{
  font-size: 3.5rem;
  font-weight: bold;
}

h2{
  font-size: 2.2rem;
  font-weight: bold;
}

h3{
  font-size: 1.8rem;
  font-weight: 600;
}

h4{
  font-size: 1rem;
  font-weight: bold;
}

h5{
  font-size: 0.6rem;
  font-weight: 600;
}

h6{
  font-weight: bold;
  font-size: 1rem;
  margin: 0;
}
/* fonts end */




/* cursor start */

#cursor {
  pointer-events: none;
  position: fixed;
  display: block;
  border-radius: 0;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  top: 0;
  left: 0;
  z-index: 1000;
}

#cursor span {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    top: -10px;
    left: -10px;
    border-radius: 20px;
    background-color: black;
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* cursor end */


.button{
  padding: 15px 20px;
  border: 5px var(--blue-one) solid;
  border-radius: 100px;
  width: fit-content;
  transition: .2s;
  color: var(--blue-one);
}

.button:hover {
  border: 5px var(--blue-two) solid;
  color: var(--blue-two);
}

.blue-box{
  background-color: var(--blue-two);
  box-shadow: 5px 5px 10px var(--blue-three);
}

.white-box{
  background-color: #FFF;
  box-shadow: 5px 5px 10px var(--blue-three);
}

.background{
  position: absolute;
  z-index: -5;
}

.wave{
  z-index: -4;
  position: absolute;
}


/* header start */
header .header-row{
  margin-top: 20px;
}

/* logo start */
header .logo{
  width: 100%;
  margin-left: 20px;
}
/* logo end */

/* burger box start */
header .burger-box{
  height: 50px;
  width: 50px;
  position: absolute;
  right: 0;
  z-index: 10;
  margin: 25px 40px 0 0;
  cursor: pointer;
}

header .burger-box hr{
  background-color: var(--blue-one);
  width: 50px;
  height: 5px;
  border-radius: 100px;
  display: block;
  border: none;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

header .burger-box.open{
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

header .burger-box.open hr:nth-child(2){
  width: 0px;
}

header .burger-box.open hr:nth-child(1),
header .burger-box.open hr:nth-child(3){
  -webkit-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

header .burger-box.open hr:nth-child(1){
  -webkit-transform: translateY(13px);
  -ms-transform: translateY(13px);
  -o-transform: translateY(13px);
  transform: translateY(13px);
}

header .burger-box.open hr:nth-child(3){
  -webkit-transform: translateY(-13px) rotate(90deg);
  -ms-transform: translateY(-13px) rotate(90deg);
  -o-transform: translateY(-13px) rotate(90deg);
  transform: translateY(-13px) rotate(90deg);
}
/* burger box end */

/* nav start */
header nav{
  position: absolute;
  right: 0px;
  top: 0px;
  width: 0vw;
  background-color: #FFF;
  transition: 500ms ease-out;
  z-index: 1;
  overflow: hidden;
  box-shadow: 10px -10px 30px var(--blue-three);
}

header nav.open{
  width: 400px;
}

header nav ul{
  list-style: none;
  margin: 30px;
  margin-top: 125px;
  width: 300px;
}

header nav ul li{
  margin: 20px 0;
}

header nav ul li h2{
  font-size: 2rem;
}

header nav ul li a{
  color: var(--blue-one);
}

header nav ul:nth-child(2){
  margin-top: 25px;
}

header nav ul:nth-child(2) li{
  float: left;
  margin: 25px 12px 35px 0;
}

header nav ul:nth-child(2) li:not(:first-child)::before{
    content: "|";
    color: var(--blue-one);
    position: absolute;
    margin: 5px 0 0 -8px;
    font-size: 1rem;
}
/* nav end */
/* header end */


/* home start */
#home h1{
  margin-top: 30vh;
}

#home .button{
  margin: 30px auto 0 auto;
}

.back-1{
  right: 0px;
  top: 90px;
  width: 50vw;
}
/* home end */


/* safety start */

  #safety{
    margin-top: 60vh;
  }

  #safety .blue-box img{
    width: 50vw;
    padding: 75px 0;
    transform: translateX(-11vw);
  }

  #safety .text-container{
    margin-top: 90px;
  }

  #safety h2{
    color: #FFF;
  }

  #safety p{
    text-align: center;
    color: var(--green-one);
    padding: 0 65px;
    margin: 70px 0 70px;;
    transform: translateX(-180px);
  }
/* safety end */

/* about section start */
  #about{
    margin-top: 300px;
  }

  #about .white-box{
    padding: 75px 0;
  }

  #about .text-container h2{
    color: var(--blue-two);
    padding-right: 270px;
    margin-bottom: 30px;
  }

  #about .text-container p{
    padding-left: 50px;
  }

  #about .button{
    margin: 30px 50px 0 0;
  }

  .wave1{
    margin-top: -40px;
  }

  .wave1 path{
    fill: url(#linear-gradient1)!important;
  }

  .wave2{
    margin-top: 950px;
  }
/* about section end */

/* block-chain start */
  #block-chain{
    margin-top: 400px;
  }

  #block-chain .blue-box{
    height: 400px;
  }

  #block-chain p{
    text-align: center;
    margin-top: 50px;
  }
/* block-chain end */


/* tech start */
  .wave3{
    margin-top: 250px;
  }

  .wave3 path{
    fill: url(#linear-gradient2)!important;
  }

  .wave4{
    margin-top: 1300px;
  }

  #tech{
    margin-top: 300px;
  }

  #tech h2, #tech h3{
    text-align: right;
    color: var(--blue-two);
  }

  #tech .white-box p{
    text-align: center;
    padding: 0 90px;
  }

  #tech .text-container{
    padding: 75px 0;
    margin-top: 75px;
  }

  #tech .text-container img{
    width: 100%;
    padding: 0 75px 0 0;
  }

  #tech .tech-desc{
    margin-top: 100px;
    padding: 0 40px;
  }

  #tech .tech-desc .white-box{
    height: 330px;
    border-radius: 15px;
    padding: 30px;
    overflow: hidden;
  }

  #tech .tech-desc > div:nth-child(1) img{
    margin-top: 60px;
    width: 75%;
  }

  #tech .tech-desc > div:nth-child(2) img{
    width: 60%;
    margin-top: -70px;
  }

  #tech .tech-desc .white-box .text-container{
    width: 38%;
    display: inline-block;
    margin: 0;
    margin-top: 40px;
    padding: 0;
    padding-left: 5px;
  }

  #tech .tech-desc .white-box .text-container h4{
    font-size: 0.8rem;
  }

  #tech .tech-desc > div:nth-child(3) img{
    height: 70%;
    margin: 0px 40% 30px;
  }

  #tech .tech-desc > div:nth-child(4) img{
    margin-top: 20px;
    width: 100%;
  }

  #tech p{
    text-align: right;
    padding: 40px 75px 0 0;
  }
/* tech end */





/* clients start */
#clients{
  margin-top: 100px;
}

#clients h2{
  color: var(--blue-two);
}

#clients .swiper-container {
  width: 100%;
  height: 400px;
  margin-top: 30px;
}

#clients .swiper-slide {
  padding: 0 35%;
}

  #clients .swiper-slide img{
    width: 100%;
    margin-top: 70px;
  }

  #clients .swiper-slide p{
    text-align: center;
    margin-top: 30px;
  }

  #clients .swiper-button-next, #clients .swiper-button-prev{
    color: black;
  }

  #clients .swiper-pagination-bullet-active-main{
    background: black;
  }

/* clients end */


/* team start */
  .wave5{
    margin-top: -100px;
  }

  .wave5 path{
    fill: url(#linear-gradient3)!important;
  }

  .wave6{
    margin-top: 750px;
  }

  #team{
    margin-top: 200px;
  }

  #team h2{
    text-align: right;
    color: var(--blue-two);
  }

  #team .col-5{
    margin: 80px 45px 0 45px;
  }

  #team .white-box{
    border-radius: 20px;
    padding: 50px 30px 0 30px;
  }

  #team .white-box h3, #team .white-box p{
    text-align: center;
  }

  #team .white-box img{
    width: 100%;
    margin-top: 50px;
  }

/* team end */


/* contact start */
  #contact{
    margin-top: 200px;
  }

  #contact .white-box{
    border-radius: 20px;
    padding: 30px 80px 0 80px;
  }

  #contact .white-box h2{
    color: var(--blue-two);
    margin-bottom: 40px;
  }

  #contact .white-box p{
    font-weight: bold;
    font-size: 1.2rem;
    width: 100%;
    margin-bottom: 10px;
  }

  #contact .white-box input,   #contact .white-box textarea{
    border: 0;
    border-bottom: black 2px solid;
    width: 80%;
    padding-bottom: 10px;
    margin-bottom: 60px;
    font-weight: 600;
    outline: none;
  }

  #contact .white-box textarea{
    width: 90%;
    height: 100px;
  }

  #contact .white-box input[type=submit]{
    padding: 15px 50px;
    border: 5px var(--blue-one) solid;
    background-color: transparent;
    border-radius: 100px;
    width: fit-content;
    transition: .2s;
    color: var(--blue-one);
  }

  #contact .white-box input[type=submit]:hover{
    border: 5px var(--blue-two) solid;
    color: var(--blue-two);
  }
/* contact end */


/* footer start */
  footer{
    margin-top: 300px;
    padding-bottom: 50px;
  }

  footer p, footer a{
    font-size: 1rem;
    color: #525252;
    font-weight: 600;
    text-align: center;
  }

/* footer end */
