:root{
  --blue-one: #0023FF;
  --blue-two: #2F63AF;
  --blue-three: #706C9A;
  --green-one: #A4E1C6;
}

body, html{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 15px;
  overflow-x: hidden;
}


/* fonts start */
a, a:hover{
  text-decoration: none;
  transition: .2s;
}

a:hover{
  color: var(--blue-two);
}

p{
  margin: 0;
  font-weight: 600;
  font-size: 1.5rem;
}

h1{
  font-size: 3.5rem;
  font-weight: bold;
}

h2{
  font-size: 2.2rem;
  font-weight: bold;
}

h3{
  font-size: 1.8rem;
  font-weight: 600;
}

h4{
  font-size: 1rem;
  font-weight: bold;
}

h5{
  font-size: 0.6rem;
  font-weight: 600;
}

h6{
  font-weight: bold;
  font-size: 1rem;
  margin: 0;
}
/* fonts end */




.button{
  padding: 15px 20px;
  border: 5px var(--blue-one) solid;
  border-radius: 100px;
  width: fit-content;
  transition: .2s;
  color: var(--blue-one);
}

.button:hover {
  border: 5px var(--blue-two) solid;
  color: var(--blue-two);
}

.blue-box{
  background-color: var(--blue-two);
  box-shadow: 5px 5px 10px var(--blue-three);
}

.white-box{
  background-color: #FFF;
  box-shadow: 5px 5px 10px var(--blue-three);
}

.background{
  position: absolute;
  z-index: -5;
}

.wave{
  z-index: -4;
  position: absolute;
}


/* header start */
header .header-row{
  margin-top: 20px;
}

/* logo start */
header .logo{
  width: 100%;
  margin-left: 20px;
}
/* logo end */

/* burger box start */
header .burger-box{
  height: 50px;
  width: 50px;
  position: absolute;
  right: 0;
  z-index: 10;
  margin: 25px 40px 0 0;
  cursor: pointer;
}

header .burger-box hr{
  background-color: var(--blue-one);
  width: 50px;
  height: 5px;
  border-radius: 100px;
  display: block;
  border: none;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

header .burger-box.open{
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

header .burger-box.open hr:nth-child(2){
  width: 0px;
}

header .burger-box.open hr:nth-child(1),
header .burger-box.open hr:nth-child(3){
  -webkit-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

header .burger-box.open hr:nth-child(1){
  -webkit-transform: translateY(13px);
  -ms-transform: translateY(13px);
  -o-transform: translateY(13px);
  transform: translateY(13px);
}

header .burger-box.open hr:nth-child(3){
  -webkit-transform: translateY(-13px) rotate(90deg);
  -ms-transform: translateY(-13px) rotate(90deg);
  -o-transform: translateY(-13px) rotate(90deg);
  transform: translateY(-13px) rotate(90deg);
}
/* burger box end */

/* nav start */
header nav{
  position: absolute;
  right: 0px;
  top: 0px;
  width: 0vw;
  height: 60vh;
  background-color: #FFF;
  transition: 500ms ease-out;
  z-index: 1;
  overflow: hidden;
  box-shadow: 10px -10px 30px var(--blue-three);
}

header nav.open{
  width: 26vw;
}

header nav ul{
  list-style: none;
  margin: 30px;
  margin-top: 125px;
  width: 300px;
}

header nav ul li{
  margin: 20px 0;
}

header nav ul li h2{
  font-size: 2rem;
}

header nav ul li a{
  color: var(--blue-one);
}
/* nav end */
/* header end */


/* home start */
#home h1{
  margin-top: 30vh;
}

#home .button{
  margin: 30px auto 0 auto;
}

.back-1{
  right: -50px;
  top: 90px;
  width: 50vw;
}
/* home end */


/* safety start */

  #safety{
    margin-top: 60vh;
  }

  #safety .blue-box img{
    width: 50vw;
    padding: 75px 0;
    transform: translateX(-11vw);
  }

  #safety .text-container{
    margin-top: 90px;
  }

  #safety h2{
    color: #FFF;
  }

  #safety p{
    text-align: center;
    color: var(--green-one);
    padding: 0 65px;
    margin: 70px 0 70px;;
    transform: translateX(-180px);
  }
/* safety end */

/* about section start */
  #about{
    margin-top: 300px;
  }

  #about .white-box{
    padding: 75px 0;
  }

  #about .text-container h2{
    color: var(--blue-two);
    padding-right: 270px;
    margin-bottom: 30px;
  }

  #about .text-container p{
    padding-left: 50px;
  }

  #about .button{
    margin: 30px 50px 0 0;
  }

  .wave1{
    margin-top: -40px;
  }

  .wave1 path{
    fill: url(#linear-gradient1)!important;
  }

  .wave2{
    margin-top: 950px;
  }
/* about section end */

/* block-chain start */
  #block-chain{
    margin-top: 400px;
  }

  #block-chain .blue-box{
    height: 400px;
  }

  #block-chain p{
    text-align: center;
    margin-top: 50px;
  }
/* block-chain end */


/* tech start */
  .wave3{
    margin-top: 250px;
  }

  .wave3 path{
    fill: url(#linear-gradient2)!important;
  }

  .wave4{
    margin-top: 1300px;
  }

  #tech{
    margin-top: 300px;
  }

  #tech h2, #tech h3{
    text-align: right;
    color: var(--blue-two);
  }

  #tech .white-box p{
    text-align: center;
    padding: 0 90px;
  }

  #tech .text-container{
    padding: 75px 0;
    margin-top: 75px;
  }

  #tech .text-container img{
    width: 100%;
    padding: 0 75px 0 0;
  }

  #tech .tech-desc{
    margin-top: 100px;
    padding: 0 40px;
  }

  #tech .tech-desc .white-box{
    height: 330px;
    border-radius: 15px;
    padding: 30px;
  }

  #tech .tech-desc > div:nth-child(1) img{
    margin-top: 60px;
    width: 75%;
  }

  #tech .tech-desc > div:nth-child(2) img{
    width: 60%;
    margin-top: -70px;
  }

  #tech .tech-desc .white-box .text-container{
    width: 38%;
    display: inline-block;
    margin: 0;
    margin-top: 40px;
    padding: 0;
    padding-left: 5px;
  }

  #tech .tech-desc .white-box .text-container h4{
    font-size: 0.8rem;
  }

  #tech .tech-desc > div:nth-child(3) img{
    width: 16%;
    margin: 0px 40% 30px;
  }

  #tech .tech-desc > div:nth-child(4) img{
    margin-top: 20px;
    width: 100%;
  }

  #tech p{
    text-align: right;
    padding: 40px 75px 0 0;
  }
/* tech end */
